<div class='main'>
  <div class="my-slider">
	<ul>
		<li><img src='https://dl.dropboxusercontent.com/u/22287966/Site%20screenshots/newsroom.png'></li>
		<li><img src='https://dl.dropboxusercontent.com/u/22287966/Site%20screenshots/junction.png'></li>
		<li><img src='https://dl.dropboxusercontent.com/u/22287966/Site%20screenshots/innovationCloud.png'></li>
	</ul>
</div>
  
</div>